<h3 style="text-align:center;color: rgb(150, 252, 225); font-size: 30px;">Employee Management System</h3>

<hr>
<div class="container-fluid">
<table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col">Eid</th>
        <th scope="col">Name</th>
        <th scope="col">Position</th>
        <th scope="col">Gender</th>
        <th scope="col">Email</th>
        <th scope="col">Address</th>
        <th scope="col">Mobile</th>
        <th scope="col">Salary</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of myemployee">
        <th >{{user.eid}}</th>
        <th >{{user.name}}</th>
        <th >{{user.position}}</th>
        <th >{{user.gender}}</th>
        <th >{{user.email}}</th>
        <th >{{user.address}}</th>
        <th >{{user.mobile}}</th>
        <th >{{user.salary}}</th>
        <td>
            <i style="color: rgb(149, 235, 208);" class="fas fa-edit"></i> &nbsp;
            <i style="color: rgb(192, 71, 15);" class="fas fa-trash"></i>
        </td>
      </tr>
      
      
    </tbody>
  </table>
</div>